table * {
border: 2px solid black;
}
* footer p{
    text-align: center;
}
tr:nth-child(even) { background-color: gray; }
tr:nth-child(odd){background-color: aquamarine;}


input::placeholder{ color: gray;}
input:focus:not(input[type="submit"],input[type="button"],input[type="reset"]) {border: none; border: 5px solid blue;}
div {
  width: 300px;
  margin: 40%;
}

div{
  width: 200px;
  height: 100px;
  padding: 10px;
  border: 2px solid black;
  margin: 20px auto;
}