@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Mobile */
@media screen and (max-width: 992px) {





/* Html e body */


html,body{
  height: 100%;
  width: 100%;
  background-color: white;
  margin: 0;
  background-color: white;
}

/* Textos,titulos e fontes */


.public-sans-titulo {
    font-family: "Public Sans", sans-serif;;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    justify-content: center;
    color: black;
    display: flex;
    height: 10%;
    
  }
.public-sans-subtitulo{
  font-family: "Public Sans", sans-serif;;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  color: black;
  font-size: 26px;
}
.public-sans-texto{
  width: 80%;
  font-family: "Public Sans", sans-serif;;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  color: black;
  
}
.public-sans-experiencia{

  font-family: "Public Sans", sans-serif;;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  color: black;
  margin-top: 10%;

}
.public-sans-texto--bold{
  width: 20%;
  font-family: "Public Sans", sans-serif;;
  font-optical-sizing: auto;
  font-style: normal;
  color: black;
  font-weight: bold;

}


/* Containers */


.container-heading{
  
  height: auto;
  justify-content: center;
  border: solid 2px white;
  background-color: white;
  margin-top:4%
  
}
.container-texto{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 5%;

}
/* Imagens */
.perfil-foto{
width: 180px;
height: 190px;
border-radius: 10px;


}
.iconePy{

  width: 35px;
  height: 35px;
  
  }

.blur{
display: flex;
align-items: center;
justify-content: center;
backdrop-filter: blur(3px);
width: 100%;
height: 100%;

}
.card{

  width: 30%;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
  border: 2px black solid;
  display: flex;
  justify-content: center;
}
.meu-nome{
  
  
  text-align: center;
  
  /* border: 2px black solid; */
  font-family: "Prompt", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 80px;
}
.imagemDeFundo{
  

  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 80%;
  border-radius: 0px;
  background-image: url("../images/turned-gray-laptop-computer.jpg");
}

/* Tabelas e outros items */
.redirecionar{
color: navy;
text-decoration: none;

}

.tabelaIcones{
  width: 35%;
  margin-left: 20%;
}


hr{
  margin: 5%;
  width: 80px;
  border: 1.5px solid black;
  margin-top: 1.5%;
  
  height: 0px;
  
  
}


}



/* Desktop */

@media screen and (min-width: 992px){



/* Html e body */


html,body{
  height: 100%;
  width: 100%;
  background-color: white;
  margin: 0;
  background-color: white;
}

/* Textos,titulos e fontes */


.public-sans-titulo {
    font-family: "Public Sans", sans-serif;;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    justify-content: center;
    color: black;
    display: flex;
    height: 10%;
    
  }
.public-sans-subtitulo{
  font-family: "Public Sans", sans-serif;;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  color: black;
  font-size: 26px;
}
.public-sans-texto{
  width: 80%;
  font-family: "Public Sans", sans-serif;;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  color: black;
  
}
.public-sans-experiencia{

  font-family: "Public Sans", sans-serif;;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  color: black;
  margin-top: 10%;

}
.public-sans-texto--bold{
  width: 20%;
  font-family: "Public Sans", sans-serif;;
  font-optical-sizing: auto;
  font-style: normal;
  color: black;
  font-weight: bold;

}


/* Containers */


.container-heading{
  
  height: auto;
  justify-content: center;
  border: solid 2px white;
  background-color: white;
  margin-top:4%
  
}
.container-texto{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 5%;

}
/* Imagens */
.perfil-foto{
width: 180px;
height: 190px;
border-radius: 10px;


}
.iconePy{

  width: 35px;
  height: 35px;
  
  }

.blur{
display: flex;
align-items: center;
justify-content: center;
backdrop-filter: blur(3px);
width: 100%;
height: 100%;

}
.card{

  width: 30%;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
  border: 2px black solid;
  display: flex;
  justify-content: center;
}
.meu-nome{
  
  
  text-align: center;
  
  /* border: 2px black solid; */
  font-family: "Prompt", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 80px;
}
.imagemDeFundo{
  

  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 80%;
  border-radius: 0px;
  background-image: url("../images/turned-gray-laptop-computer.jpg");
}

/* Tabelas e outros items */
.redirecionar{
color: navy;
text-decoration: none;

}

.tabelaIcones{
  width: 35%;
  margin-left: 35%;
}


hr{
  margin: 5%;
  width: 80px;
  border: 1.5px solid black;
  margin-top: 1.5%;
  
  height: 0px;
  
  
}



}
