h1 ~ p {

    color: preto    
}
#grifinoria {

    color: red;
    font-weight: bold;
}
.sonserina{

    color: green;
    font-style: italic;
}
.lufalufa{
    color: yellow;
    font-style: italic;
    font-weight: bold;
}
.cornival{
    color: navy;
}
.cerimonia{
    color: purple;
}