html,body{
 
    height: 100%;
    width: 100%;
}
.wikihub{
    height: 5%;
    width: 30%;
    display: flex;
    justify-content: center;
}
.header-nav{
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: space-evenly
    
}
.pesquisa{
display: flex;
align-items: center;

}
.input-pesquisa{
    height: 50%;
    width: 80%;
    background-image: url(./images/lupa.png) no-repeat left;
    background-size: 20px;
    padding-left: 25px;
}
a{
    color: #36c;
    text-decoration: none;
}